# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Custom Part  
*.vcproj  
*.vcxproj  
*.txt  
.vscode/ 
*.pickle
*.pt
*.png
*.npy 
runs/
save_model/
images/
__pycache__/
*.__pycache__/
*.pyc
.mypy_cache/